{% extends 'base/base.html' %}

{% load imagekit %}
{% load static %}

{% block content %}
<div class="container">

	{% if request.GET.status == "updated" %}
		<p class="alert alert-success">Mise à jour réussie!</p>
	{% elif request.GET.status == "created" %}
		<p class="alert alert-success">Création réussie!</p>
	{% endif %}

	<div class="row">

		{% if book_cover_image %}
			<div class="col-3 book-cover">
				{% thumbnail '200x300' book_cover_image %}
			</div>
		{% endif %}

		<div class="{% if book_cover_image %}col-9{% else %}col-12{% endif %}">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
				<h1 class="h2">Modifier un livre existant</h1>
				<a href="{% url 'library-category-book/archive' library.id category.id %}" class="btn btn-outline-secondary btn-sm">Annuler</a>
			</div>

			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table class="table">
					{{ form }}
				</table>
				<input class="btn btn-primary" type="submit" value="Modifier" />
			</form>
		</div>

	</div>

</div>

{% endblock %}