{% extends 'base/base.html' %}

{% block content %}
<div class="container">

	{% if request.GET.status == "updated" %}
		<p class="alert alert-success">Mise à jour réussie!</p>
	{% elif request.GET.status == "created" %}
		<p class="alert alert-success">Création réussie!</p>
	{% endif %}

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
		<h1 class="h2">{{ library.name }} - {{ category.name }}</h1>
		<div class="actions">
			<a href="{% url 'library-category/archive' library.id %}" class="btn btn-outline-secondary btn-sm">Retour aux catégories</a>
			<a href="{% url 'library-category-book/add' library.id category.id %}" class="btn btn-primary btn-sm">Créer</a>
		</div>
	</div>

	{% if category.librarycategory_set.all %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Status</th>
					<th scope="col">Livres</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for category in category.librarycategory_set.all %}
				<tr>
					<td>{{ category.name }}</td>
					<td>{% if category.active %}<span class="badge badge-success">publiée</span>{% else %}<span class="badge badge-warning">non-publiée</span>{% endif %}</td>
					<td><a href="{% url 'library-category/archive' library.id %}"> dsdlivre(s)</a></td>
					<td>
						<a href="{% url 'library-category/edit' library.id category.id  %}">Modifier</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-warning" role="alert">
			Vous n'avez aucune livre dans cette catégorie. Créer une <a href="{% url 'library-category-book/add' library.id category.id %}">premier livre</a>.
		</div>
	{% endif %}


</div>

{% endblock %}