{% load static %}
{% load imagekit %}
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Bibflix - {{ library.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="{% static 'books/template/bibflix/style.css' %}" />
</head>
<body id="top">
	<div class="wrapper">

		<header>
			<div class="netflixLogo">
				<a id="logo" href="/"><img src="{% static 'books/template/bibflix/logo.png' %}" alt="Logo Image"></a>
			</div>      
			<nav class="main-nav">                
				<a href="#top">Accueil</a>
				{% for category in categories %}
					<a href="#cat-{{ category.id }}">{{ category.name }}</a>
				{% endfor %}
			</nav>
			<nav class="sub-nav">
				<a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
				<a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
				<a href="#">Compte</a>        
			</nav>      
		</header>

		<section class="main-container">

			{% for category in categories %}

				<div class="location" id="cat-{{ category.id }}">
					<h1 id="home">{{ category.name }}</h1>
					<div class="box">
						{% for book in category.books %}
							{% if book.cover_image %}
								<a target="_blank" href="{{ book.url }}">{% thumbnail '375x550' book.cover_image %}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>

			{% endfor %}

			<footer>
				<p>{{ library.name }} - 2020</p>
			</footer>
		</div>

		<script src="{% static 'base/js/font-awesome.js' %}"></script>
	</body>
	</html>