{% load static %}
{% load imagekit %}
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bibflix</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'books/template/bibflix/style.css' %}" />
</head>
<body>
	<div class="wrapper">

		<header>
			<div class="netflixLogo">
				<a id="logo" href="/"><img src="{% static 'books/template/bibflix/logo.png' %}" alt="Logo Image"></a>
			</div>      
			<nav class="main-nav">                
				<a href="#home">Home</a>
				<a href="#tvShows">TV Shows</a>
				<a href="#movies">Movies</a>
				<a href="#originals">Originals</a>
				<a href="#">Recently Added</a>
				<a target="_blank" href="https://codepen.io/cb2307/full/NzaOrm">Portfolio</a>        
			</nav>
			<nav class="sub-nav">
				<a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
				<a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
				<a href="#">Account</a>        
			</nav>      
		</header>

		<section class="main-container">

			{% for category in categories %}

				<div class="location" id="home">
					<h1 id="home">{{ category.name }}</h1>
					<div class="box">
						{% for book in category.books %}
							{% if book.cover_image %}
								<a target="_blank" href="{{ book.url }}">{% thumbnail '375x550' book.cover_image %}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>

			{% endfor %}

			<footer>
				<p>{{ library.name }} - 2020</p>
			</footer>
		</div>
	</body>
	</html>