html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

#content.base {
	padding-top: 30px;
    padding-bottom: 30px;
}

/* Base Full Template */

#content.base-full {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
#content.base-full > main {
	max-width: 300px;
	width: 100%;
	text-align: center;
}
#content.base-full > main .btn {
	font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}
#content.base-full > main .btn.btn-google {
    color: white;
    background-color: #ea4335;
}

#content.base-full > main .btn.btn-facebook {
    color: white;
    background-color: #3b5998;
}

.book-cover {
    align-self: center;
}

.book-cover > img {
    max-width: 100%;
    height: auto;
}

/* Profile */

.social-media {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.social-media:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

.buttons > .btn {
    margin-right: 30px;
}

.actions > .btn {
    margin-left: 10px;
}

.sortable-element-highlight {
    padding: 24px;
    background-color: #ffffcc !important;
    border: 1px dotted #ccc;
    cursor: move;
    margin-top: 12px;
}

.sortable-icon {
    cursor: pointer;
}